<app-nav-bar></app-nav-bar>  
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column pt-5">
                        <button type="button" class="btn btn-primary" (click)="mayor()">Mayor</button>
                        <button type="button" class="btn btn-danger" (click)="menor()">Menor</button>     
                    </div>  
                    <div class="container-flex pt-5">
                        <button type="button" class="btn btn-primary">
                            Victorias <span class="badge badge-light">{{contadorVitorias}}</span>
                          </button>
                    </div>
                    <div class="container-flex">
                        <button type="button" class="btn btn-warning">
                            Empates <span class="badge badge-light">{{contadorEmpates}}</span>
                          </button>
                    </div>
                    <div class="container-flex">
                        <button type="button" class="btn btn-danger">
                            Derrotas <span class="badge badge-light">{{contadorDerrotas}}</span>
                          </button>
                    </div>                  
                </div>
                <div class="col-md-4">
                    <div id="carta">
                        <div id="simboloArriba"></div>
                        <div id="numero">A</div>
                        <div id="simboloAbajo"></div>
                    </div>                   
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column pt-5">
                        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Partida</button>
                        <button type="button" class="btn btn-danger" (click)="mostrar()">Listar resultados</button>     
                    </div>                    
                </div>
            </div>           
        </div>
    </body>
