<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col text-center">
    <img id="ahorcado-img" width="200px" height="200px" src="assets/img/{{ intentos }}.png" class="ahorcado-img">
    <h3>Intentos <small> {{ intentos }} / 9 </small></h3>
    <button type="button" class="btn btn-primary">
      Victorias <span class="badge badge-light">{{contadorVitorias}}</span>
    </button>

  <button type="button" class="btn btn-danger">
      Derrotas <span class="badge badge-light">{{contadorDerrotas}}</span>
    </button>
    <button class="btn btn-warning" (click)="mostrar()">Listar Resultados</button>  
  <button class="btn btn-success" (click)="guardar()">Guardar</button>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1> {{ palabraOculta }} </h1>
  </div>
</div>




<div class="row">
  <div class="col text-center">
    <button (click)="comprobar( letra )" *ngFor="let letra of letras" class="btn btn-primary">
      {{letra}}
    </button>
  </div>
</div>
<app-listado-realtime *ngIf="logueado"></app-listado-realtime>
