<app-nav-bar></app-nav-bar>    
<!-- <br> -->
<body>
  

<header><h1>Ta Te Ti</h1></header>

<section id="ficha">
    <h3>Elige ficha:</h3><a (click)="eligeFicha('x')">X</a><a (click)="eligeFicha('o')">O</a>
</section>

<section id="jugadores">
<div id="comp"></div><div id="hum"></div>
</section>

<section id="turno"></section>
 
<section id="tablero">

    <!-- <a class="celda" id="ceroCero" onclick="jugadaHumano(this, 0, 0)"></a><div class="celda" id="ceroUno" onclick="jugadaHumano(this, 0, 1)"></div><div class="celda" id="ceroDos" onclick="jugadaHumano(this, 0, 2)"></div><div class="celda" id="unoCero" onclick="jugadaHumano(this, 1, 0)"></div><div class="celda" id="unoUno" onclick="jugadaHumano(this, 1, 1)"></div><div class="celda" id="unoDos" onclick="jugadaHumano(this, 1, 2)"></div><div class="celda" id="dosCero" onclick="jugadaHumano(this, 2, 0)"></div><div class="celda" id="dosUno" onclick="jugadaHumano(this, 2, 1)"></div><div class="celda" id="dosDos" onclick="jugadaHumano(this, 2, 2)"></div> -->
    <div>
        <input type="button" id="boton1" name="boton1" value="" (click)="jugar(0)" class="celda">
        <input type="button" id="boton2" name="boton2" value=" " (click)="jugar(1)" class="celda">
        <input type="button" id="boton3" name="boton3" value=" " (click)="jugar(2)" class="celda">
      </div>
      <div>
        <input type="button" id="boton4" name="boton4" value=" " (click)="jugar(3)" class="celda">
        <input type="button" id="boton5" name="boton5" value=" " (click)="jugar(4)" class="celda">
        <input type="button" id="boton6" name="boton6" value=" " (click)="jugar(5)" class="celda">
      </div>
      <div>
        <input type="button" id="boton7" name="boton7" value=" " (click)="jugar(6)" class="celda">
        <input type="button" id="boton8" name="boton8" value=" " (click)="jugar(7)" class="celda">
        <input type="button" id="boton9" name="boton9" value=" " (click)="jugar(8)" class="celda">
      </div>                   
</section>

<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-auto">
      <button type="button" class="btn btn-primary btn-lg"  (click)="guardar()">Guardar puntajes</button>
    </div>
    <div class="col-sm-auto">
      <button type="button" class="btn btn-secondary btn-lg" (click)="mostrar()">Listar puntajes</button>  
    </div>
  </div>
</div>  


<!-- <section class="marcador">
    <section id="ganadosH" *ngIf="this.puntajesVista">{{this.puntajesVista.victorias}}</section>
    <section id="ganadosC" *ngIf="this.puntajesVista">{{this.puntajesVista.derrotas}}</section>
    <section id="empate" *ngIf="this.puntajesVista">{{this.puntajesVista.empate}}</section>
</section> -->

</body>
<app-listado-realtime></app-listado-realtime>