<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sala de Juegos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/juegos" *ngIf="isLogged">Juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quiensoy" href="#">¿Quien soy?</a>
        </li>
      </ul>
      <button routerLink="/login" class="btn btn-outline-light my-2 my-sm-0" style="margin-right: 3px;" type="button" *ngIf="!isLogged">Iniciar sesión</button>
      <button routerLink="/registro" class="btn btn-outline-light my-2 my-sm-0" type="button" *ngIf="!isLogged">Registrase</button>

      <button routerLink="/login" class="btn btn-outline-light my-2 my-sm-0" style="margin-right: 3px;" type="button"(click)="logOut()" *ngIf="isLogged">Salir</button>
      <button routerLink="/registro" class="btn btn-outline-light my-2 my-sm-0" type="button" *ngIf="isLogged">Hola: {{usuarioLogeado}}</button>
    </div>
  </nav>
