<app-nav-bar></app-nav-bar>    
<br>
<main role="main">

  <!-- <section class="jumbotron text-center">
    <div class="container">
      <h1>Sala de juegos</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section> -->

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <h1 class="text-center">Tateti</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Tateti</text></svg> -->            
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/tateti.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">Al juego de Tateti -también llamado tic-tac-toe; se le reconoce un origen milenario. Durante las excavaciones del antiguo templo de Kurna (1400ac), en Egipto, se descubrió tableros similares en el templo de Kom Ombo (300ac).</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/tateti" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Memotest</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/memotest.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">Prueba tu concentración y tu memoria con nuestro memotest. Inspirado en el continente suramericano descubre todas sus banderas patrias mientras pruebas tus habilidades mentales.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/memotest"  type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Anagrama</h1>
          <div class="card mb-4 shadow-sm">            
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/anagrama.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/anagrama" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h1 class="text-center">Piedra Papel Tijera</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/piedra-papel-tijera.png" alt="">
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/piedraPapelTijera" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> 

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<app-listado-realtime></app-listado-realtime>


    
