<app-nav-bar></app-nav-bar>    
<br>
<main role="main">

  <!-- <section class="jumbotron text-center">
    <div class="container">
      <h1>Sala de juegos</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section> -->

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <h1 class="text-center">Tateti</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Tateti</text></svg> -->            
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/tateti.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">Al juego de Tateti -también llamado tic-tac-toe; se le reconoce un origen milenario. Durante las excavaciones del antiguo templo de Kurna (1400ac), en Egipto, se descubrió tableros similares en el templo de Kom Ombo (300ac).</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/tateti" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Memotest</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/memotest.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">Prueba tu concentración y tu memoria con nuestro memotest. Inspirado en el continente suramericano descubre todas sus banderas patrias mientras pruebas tus habilidades mentales.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/memotest"  type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Anagrama</h1>
          <div class="card mb-4 shadow-sm">            
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/anagrama.jpg" alt="">
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/anagrama" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h1 class="text-center">Piedra Papel Tijera</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/piedra-papel-tijera.png" alt="">
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/piedraPapelTijera" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Mayor o Menor</h1>
          <div class="card mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../assets/cards.png" alt="">
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/mayorMenor" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1 class="text-center">Ahorcado</h1>
          <div class="card mb-4 shadow-sm">
            <svg height="225" viewBox="0 0 64 64" width="100%" xmlns="http://www.w3.org/2000/svg"><g id="outline"><path d="m9 62h46v-60h-46zm2-58h42v56h-42z"/><path d="m13 48h6v-6h-6zm2-4h2v2h-2z"/><path d="m29 48h6v-6h-6zm2-4h2v2h-2z"/><path d="m21 56h6v-6h-6zm2-4h2v2h-2z"/><path d="m29 56h6v-6h-6zm2-4h2v2h-2z"/><path d="m37 48h6v-6h-6zm2-4h2v2h-2z"/><path d="m21 46h6v2h-6z"/><path d="m13 54h6v2h-6z"/><path d="m37 54h6v2h-6z"/><path d="m45 54h6v2h-6z"/><path d="m45 46h6v2h-6z"/><path d="m40.707 29.293-3.707-3.707v-4.109l3.629 1.452.742-1.858-3.671-1.466a3.98 3.98 0 0 0 -.7-7.463v-4.142h-19v29h-5v2h13v-2h-6v-21.586l5.414-5.414h9.586v2.142a3.98 3.98 0 0 0 -.7 7.463l-3.667 1.466.742 1.858 3.625-1.452v4.109l-3.707 3.707 1.414 1.414 3.293-3.293 3.293 3.293zm-20.707-16.707v-2.586h2.586zm14 3.414a2 2 0 1 1 2 2 2 2 0 0 1 -2-2z"/><path d="m45 8h4v6h2v-8h-6z"/><path d="m49 16h2v2h-2z"/><path d="m13 6h2v2h-2z"/><path d="m13 10h2v2h-2z"/></g></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/juegos/ahorcado" type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> 

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<app-listado-realtime></app-listado-realtime>


    
