<app-nav-bar></app-nav-bar>    
<br>
<div id="juego" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
    <h1>Juega Contra la Maquina</h1>
    <div (click)="opcionSeleccionada('0')" id="piedra"></div>
    <div (click)="opcionSeleccionada('1')" id="papel"></div>
    <div (click)="opcionSeleccionada('2')" id="tijera"></div>
</div>

<div id="efecto" style="display:none" (click)="quitarEfectoPantalla()"> </div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" (click)="guardar()">Guardar partida</button>
    <button *ngIf="tieneDatosCargados" type="button" class="btn btn-info" (click)="mostrar()">Listar resultados</button>
  </div>
<app-listado-realtime></app-listado-realtime>
