<app-nav-bar></app-nav-bar>    

<div class="contenedor">
  <div class="container">
    <div class="row justify-content-xl-center">
      <div *ngIf="enJuego">
        <h1 class="palabra">{{this.palabraDesordenada}}</h1>
        <input [matKeyboard]="'Azərbaycanca'" [(ngModel)]="this.palabraUser" placeholder="ingrese palabra" name="palabraIngresada" class="form-control" style="width:100%">
        <br>
      </div>
    </div>
    <div class="row">
      <div style="margin-left: 800px;margin-top: 20px;"> 
          <!--<button class="btnpalanca" (click)="Jugar()" ><img src="./assets/imagenes/palancabtn.png" ></button>--> 
          <!--<button [hidden]="enJuego" (click)="empezar()" class="btn button btn-success">Nuevo juego</button> --> 
          <h2 [hidden]="!ocultarVerificar"><button (click)="Verificar()" class="btn btn-primary btn-lg">Verificar</button></h2>
          <h2 [hidden]="ocultarVerificar"><button  (click)="NuevoJuego()" class="btn btn-primary btn-lg" >Nuevo Juego</button></h2>
          <div><p id="mensajeID"></p></div>
      </div>
    </div>
  </div>
</div>

<app-listado-realtime></app-listado-realtime>