<app-nav-bar></app-nav-bar>    

<div class="contenedor">
  <div class="container">
    <div class="row justify-content-xl-center">
      <div>
        <h1 *ngIf="enJuego" class="palabra display-4">{{this.palabraDesordenada}}</h1>
        <!-- <input [matKeyboard]="'Azərbaycanca'" [(ngModel)]="this.palabraUser" placeholder="ingrese palabra" name="palabraIngresada" class="form-control" style="width:100%"> -->
        <div class="input-group mb-3">
          <input *ngIf="enJuego" [matKeyboard]="'Azərbaycanca'" [(ngModel)]="this.palabraUser" type="text" name="palabraIngresada" class="form-control" placeholder="ingrese palabra" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button [hidden]="!ocultarVerificar"  class="btn btn-primary" (click)="Verificar()"  type="button">Verificar</button>
            <button [hidden]="ocultarVerificar"  class="btn btn-primary" (click)="NuevoJuego()" type="button">Nuevo juego</button>            
          </div>
        </div>
        <button *ngIf="enJuego"   class="btn btn-info" (click)="guardar()" type="button">Guardar Partida</button>
            <button [hidden]="!tieneDatosCargados"  class="btn btn-secondary" (click)="mostrar()" type="button">Listar resultados</button>
        <br>
      </div>
    </div>  
  </div>
</div>



<app-listado-realtime *ngIf="logueado"></app-listado-realtime>