<app-nav-bar></app-nav-bar>    

<body>
    

<div class="container">
    <div align="center">
		<h2 style="color: black;">¡Combina todas las cartas para ganar!</h2>
	</div>
    <div class="bg-dark text-white" *ngIf="!this.startGame" style="margin-left: 480px;width: -moz-fit-content;text-align: center;">
        <br>
        <p>¡Combina todas las cartas para ganar!</p>
        <p>Tienes un total de <b>{{this.userLife}}</b> intentos.</p>
        <br>
        <h4>Empezar en <span style="color: #cc0000;font-size: 24px;">{{this.countDown}}</span>...</h4>
    </div>
    <div class="container" id="conImg">
        <div class="row align-items-center text-center" size="8" *ngIf="this.startGame && this.gameState == 'init'">
            <div class="col-sm-3 align-self-center" id="tarjeta"  size="3" *ngFor="let c of cardsArray; let i = index" style="float: left;margin-bottom: 5px;">
                <!-- show card backgorund -->
                <img src="../../../assets/background.png" *ngIf="c.pos != selectCard1pos && c.pos != selectCard2pos && c.val > -1" (click)="selectCard(c.pos, c.val, i)" style="width:80px; height:80px; border: solid 2px #000; border-radius: 12px;">
                <!-- show card 1 selected -->
                <img [src]="images[c.val]" *ngIf="c.pos == selectCard1pos && c.val > -1" style="width:80px; height:80px; border: solid 2px #000; border-radius: 12px;">
                <!-- show card 2 selected -->
                <img [src]="images[c.val]" *ngIf="c.pos == selectCard2pos && c.val > -1" style="width:80px; height:80px; border: solid 2px #000; border-radius: 12px;">
                <!-- show hidden card -->
                <img  *ngIf="c.val == -1" style="width:80px; height:80px; border: solid 2px #000; border-radius: 12px;visibility: hidden;">
            </div>
        </div>
    </div>
    <div align="center" *ngIf="this.startGame && this.gameState == 'init'">
        <br>
        <div class="row">
            <div class="col">
                <p class="bg-info text-white" style="width: -moz-fit-content;">Tienes <span style="color: white; font-size: 24px;">{{this.userLife}}</span> intentos...</p>
            </div>
            <div class="col">
                <p class="bg-info text-white" style="width: -moz-fit-content;"><span style="color: #cc0000;font-size: 24px;">{{this.shownTime}}</span></p>
            </div>
        </div>               
	</div>
    <div class="bg-dark text-white" align = "center" *ngIf="this.mostrar == 'gana'" style="width: -moz-fit-content;">
            
        <br>
        <p class="bg-primary text-white">Tienes ¡<span style="color: #00cc00;font-size: 24px;">Ganada </span>esta!</p>
        <p class="bg-primary text-white">Le gustaría volver a intentarlo</p>
        <br>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.restartGame()">juega de nuevo</button>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.mostrarPartidas()">Listar resultados</button>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.guardar()">Guardar partida</button>
    </div>
    <div align = "center" *ngIf="this.mostrar == 'pierde'" style="width: -moz-fit-content;">
        <div style="margin-left: 480px;">
        <br>
        <p class="bg-primary text-white">¡Has <span style="color: #cc0000;font-size: 24px;">PERDIDO</span>este!</p>
        <p class="bg-primary text-white">Le gustaría volver a intentarlo</p>
        <br>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.restartGame()">juega de nuevo</button>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.mostrarPartidas()">Listar resultados</button>
        <button type="button" class="btn bg-warning text-dark btn-lg btn-block" (click)="this.guardar()">Guardar partida</button>
    </div>
    </div>
    <!-- debug -->
    <!-- <p>mostrar:{{this.mostrar}}</p> 
    <p>startGAME:{{this.startGame}}</p>    
    <p>stateGame:{{this.gameState}}</p> -->
    
</div>
</body>
<app-listado-realtime></app-listado-realtime>
  